.onOff {
    display: flex;
    align-items: center;
}

.on, .off, .empty {
    font-size: 18px;
    display: inline-block;
    width: 50px;
    height: 24px;
    background-color: #d5e8ec;
    border: 1px solid grey;
    border-radius: 3px;
    text-align: center;
    padding: 0px 0 5px 0;
    margin-left: 1px;
}

.on {
    background-color: green;
}

.off {
    background-color: red;
}

.green_circle, .red_circle {
    display: inline-block;
    margin: 1px 0 0 10px;
    width: 24px;
    height: 24px;
    background-color: green;
    border-radius: 50%;

}

.red_circle {
    background-color: red;
}